<div id="inbox" ng-app="myApp" ng-controller="MessagesController as mc">
<h1>Messages</h1>
<hr>
<div id="" class="threads col-md-4">
  <div class="wbg">
    <div class="thread" ng-if="thread.active" ng-repeat="thread in mc.currentUser.messageThreads">
      <div class="avatar">
        <span ng-hide="mc.currentUser._id == thread.users[0]._id">{{ thread.users[0].local.name[0] }}</span>
        <span ng-hide="mc.currentUser._id == thread.users[1]._id">{{ thread.users[1].local.name[0] }}</span>
      </div>
      <div class="message">
        <p ng-hide="mc.currentUser._id == thread.users[0]._id" class="sender"> {{ thread.users[0].local.name }} </p>
        <p ng-hide="mc.currentUser._id == thread.users[1]._id" class="sender"> {{ thread.users[1].local.name }} </p>
        <p class="peek" ng-show="thread.messages[thread.messages.length - 1]">{{ thread.messages[thread.messages.length - 1].content }}</p>
        <p class="peek" ng-hide="thread.messages[thread.messages.length - 1]">Say hello</p>
        <p></p>
      </div>
    </div>

  </div>
</div>

<div class="right-side col-md-8">
  <div id="" class="messages-container wbg">
  </div>
</div>
</div>

<script type="text/javascript">
  angular.module('myApp', [])
    .controller('MessagesController', MessagesController)

  MessagesController.$inject = ['$http'];

  function MessagesController($http){
    var vm = this;
    // Request user details
    $http.get('/api/users/<%= currentUser._id %>')
    .then(function(data){
      console.log(data);
      vm.currentUser = data.data.user;
    })
  }

  $('.messages').on('click', function(evt){
    $('.messages').css('background-color', 'transparent');
    $(this).css('background-color', '#ADD8E6');
    $('.right-side').html('');
    $('.right-side').append('<div id="' + $(this).attr('id') +  '" class="messages-container wbg"></div>');
    $.ajax({
      method: 'get',
      url: '/messages/' + $(this).attr('id')
    }).done(function(data){
      $('.messages-container').html('')
      var message = '';
      var form = '';
      message += '<div id ="'  + data._id +  '">';
      message += '<div class="thread">';
      if(data.messages.length < 1){
        message += '<div class="">Say hello!</div>';
      }
      data.messages.forEach(function(el){
        message += '<div class="well">' + el._by.local.name + ": " + el.content + '</div>';
      });
      message += '</div>';
      message += '</div>';

      form += '<div class="input-group input-group-message">'
      form += '<input type="text" class="form-control" id="message-content" name="content" placeholder="">'
      form += '<span class="input-group-btn">'
      form += '<button class="btn btn-primary send-message" type="submit">Send</button>'
      form += '</span>'
      form += '</div>'
      $('.messages-container').append(message);
      $('.right-side').append(form);
    });
  });

  $('body').on('click', '.send-message', function(evt){
    evt.preventDefault();
    // console.log($(this).parent().parent().siblings('div')[0].id);
    $.ajax({
      method: 'post',
      url: '/messages/' + $(this).parent().parent().siblings('div')[0].id + '/message',
      contentType: 'application/json',
      data: JSON.stringify({content: $('#message-content').val(), public: 'false'})
    }).done(function(data){
      // console.log(data);
      $('#message-content').val('')
      var message = ''
      message += '<div class="well">' + data._by.local.name + ": " + data.content + '</div>';
      $('.messages-container .thread').append(message);
    });
  })
</script>
