<div id="users" ng-app="myApp" ng-controller="UsersController as uc">
  <div class="row">
    <div class="col-md-8">
      <h1>All nUPathers</h1>
    </div>
    <div class="col-md-4">
      <div class="input-group input-user-search">
        <input type="text" class="form-control" id="search-text" name="content" placeholder="Search User">
        <span class="input-group-btn">
        </span>
      </div>
    </div>
    <hr>
  </div>
  <hr>

  <div>
    <div class="col-md-4" ng-repeat="user in uc.users">
      <div id={{user._id}} class="user wbg">
        <div class="avatar">{{ user.local.name[0] }}</div>
        <h3 class="name">{{ user.local.name }}</h3>
        <p>{{ user.local.email }}</p>
        <p>{{ user.local.school }}</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
angular
  .module('myApp', [])
  .controller('UsersController', UsersController);

  function UsersController($http){
    var vm = this;

    $http.get('/api/users')
    .then(function(response) {
        vm.users = response.data;
    });
  }

</script>
