<div class="posts" ng-app="myApp" ng-controller="PostsController as pc">
  <div class="row">

    <div id="newsfeed" >
      <h1>nUPath News Feed</h1>

      <hr>

      <div class="col-md-4">
        <div class="wbg trending">
          <h3>Trending</h3>
          <hr>
          <p>#nUPath<br><small>1130 mentions</small></p>
          <p>#USHistroy<br><small>934 mentions</small></p>
          <p>#DonaldTrump<br><small>799 mentions</small></p>
          <p>#Molecules<br><small>630 mentions</small></p>
          <p>#California<br><small>157 mentions</small></p>
          <p>#SpringBreak<br><small>130 mentions</small></p>
          <p>#SleepingInClass<br><small>113 mentions</small></p>
          <p>#SchoolIsCool<br><small>110 mentions</small></p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="wbg">
          <span id="helpBlock" class="help-block">Post to News Feed</span>
          <label class="sr-only" for="inputHelpBlock">nUPath Newsfeed</label>
          <textarea id="post" class="form-control" rows="3" ng-model="pc.newPost.content"></textarea><br>
          <input id="post-btn" class="btn btn-success" type="submit" name="submit" value="Post" ng-click="pc.submitPost()">
        </div>

        <div class="posts">
          <div id="{{ post_id }}" class="posts wbg" ng-init="postIndex = $index; isNegative = (post.polarity == 'negative')" ng-class="{negativePost: isNegative}" ng-repeat="post in pc.posts track by $index">
            <div class="avatar" ng-if="!isNegative">
              {{ post._by.local.name[0] }}
            </div>

            <div class="alert avatar" ng-if="isNegative">
              <i class="glyphicon glyphicon-alert"></i>
            </div>

            <button class="btn-icon btn-delete-post" ng-click="pc.deletePost(post._id, $index)" ng-if="'<%=currentUser._id%>' == post._by._id">
              <i class="fa fa-trash"></i>
            </button>

            <p class="name">{{ post._by.local.name }}</p>
            <h4>{{ post.content }}</h4>
            <p class="date">{{ post.createdAt | date }}</p>

            <hr>

            <div class="comments">
              <div id="{{ comment._id }}" class="comment" ng-if="comment.active" ng-repeat="comment in post.comments">
                <div class="avatar">
                  {{ comment._by.local.name[0] }}
                </div>

                <button class="btn-icon btn-delete-comment" ng-click="pc.deleteComment(post._id, comment._id, postIndex)" ng-if="'<%=currentUser._id%>' == comment._by._id"><i class="fa fa-trash"></i></button>

                <p class="comment-content"><strong>{{ comment._by.local.name }}</strong> {{ comment.content }}</p>

              </div>
            </div>

            <div class="input-group input-group-comment" ng-if="!isNegative">
              <input type="text" class="form-control input-new-comment" id="comment" name="content" placeholder="" ng-model="pc['newComment' + post._id].content">
              <span class="input-group-btn">
                <button class="btn btn-default btn-new-comment" type="button" ng-click="pc.submitComment(post._id, $index)">Post Comment</button>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  angular.module('myApp', [])
  .controller('PostsController', PostsController)
  .filter('date', dateConverter)

  PostsController.$inject = ['$http'];

  function PostsController($http){
    var vm = this;
    vm.posts = [];

    vm.loadPosts = function(){
      $http.get('/api/posts').then(function(data){
        vm.posts = data.data;
      })
    }

    vm.loadPosts();

    vm.submitPost = function(){
      $http.post('/api/posts', vm.newPost)
      .then(function(data){
        vm.posts.unshift(data.data);
        vm.newPost = {}
      })
    }

    vm.deletePost = function(id, index){
      $http.delete('/api/posts/' + id)
      .then(function(data){
        vm.posts.splice(index, 1);
      })
    }

    vm.submitComment = function(id, index){
      $http.post('/api/posts/' + id + '/comments', vm['newComment' + id])
      .then(function(data){
        vm.posts[index].comments = data.data;
        vm['newComment' + id] = {}
      })
    }

    vm.deleteComment = function(postId, commentId, index){
      $http.delete('/api/posts/' + postId + '/comments/' + commentId)
      .then(function(data){
        console.log(index);
        vm.posts[index].comments = data.data;
      })
    }

  }

  function dateConverter(){
    return function(date){
      var date = new Date(date);
      month = date.getMonth();
      day = date.getDate();
      year = date.getFullYear();

      switch(month){
        case 0: month = 'Jan'; break;
        case 1: month = 'Feb'; break;
        case 2: month = 'Mar'; break;
        case 3: month = 'Apr'; break;
        case 4: month = 'May'; break;
        case 5: month = 'Jun'; break;
        case 6: month = 'Jul'; break;
        case 7: month = 'Aug'; break;
        case 8: month = 'Sep'; break;
        case 9: month = 'Oct'; break;
        case 10: month = 'Nov'; break;
        case 11: month = 'Dec'; break;
      }

      return month + ' ' + day + ', ' + year;
    }
  }

</script>
